/* ────────────────────────────────────────────────────────
 🌐 NAVBAR
─────────────────────────────────────────────────────────*/
.navbar-pane {
    -fx-background-color: #2D2F33;
}

.navbar-text {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

/* ────────────────────────────────────────────────────────
 📋 BOTÓN LOGOUT
─────────────────────────────────────────────────────────*/
.button-logout {
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 10;
    -fx-padding: 2 10 2 10;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
    -fx-background-color: #2D2F33;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}