
/* ────────────────────────────────
  FONDO
──────────────────────────────── */
.background-pane {
    -fx-background-color: #DFDFDF;

}

/* ────────────────────────────────
 🧁 PANEL FLOTANTE
──────────────────────────────── */
.floating-pane {
    -fx-background-color: #ffffff;
    -fx-padding: 2em;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 12, 0.3, 0, 4);
    -fx-border-radius: 60;
    -fx-background-radius: 60;



}

/* ────────────────────────────────
 🚪 BOTÓN DE ENTRADA
──────────────────────────────── */
.button-enter {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 0.8em 2em;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0.5, 0, 2);
    -fx-cursor: hand;
}

.button-enter:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 3;
}


/* ────────────────────────────────
 🔗 HIPERVÍNCULO
──────────────────────────────── */
.link-text {
    -fx-font-size: 0.9em;
    -fx-text-fill: #555;
    -fx-underline: true;
}

/* ────────────────────────────────
 🧾 CAMPOS DE TEXTO
──────────────────────────────── */
.text-field-data {
    -fx-background-color: #EDEDED;
    -fx-text-fill: #111;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 0.6em 1em;
    -fx-font-size: 1em;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.2, 0, 1);
}

/* ────────────────────────────────
 👋 MENSAJE DE BIENVENIDA
──────────────────────────────── */
.label-welcome {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 51px;
    -fx-fill: #000000;

}


/* ────────────────────────────────
 🎨 BOTÓN CAMBIO DE TEMA
──────────────────────────────── */
.button-theme-toggle {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-cursor: hand;



}

.button-theme-toggle:hover {
    -fx-background-color: linear-gradient(to bottom right, #3a3a3a, #2a2a2a);
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.2), 4, 0.2, 0, 1);
}

.button-theme-toggle:pressed {
    -fx-background-color: #121212;
    -fx-text-fill: #cccccc;
    -fx-effect: none;
}


/* ────────────────────────────────
 🧾 ICONOS
──────────────────────────────── */
.icons-class{
    -fx-fill: #000;
}
.icon-theme-button{
    -fx-icon-code:fas-moon;
    -fx-icon-color:black;
    -fx-icon-size:18;
}

