/* ────────────────────────────────────────────────────────
 🌐 NAVBAR
─────────────────────────────────────────────────────────*/
.navbar-pane {
    -fx-background-color: #2D2F33;
}

.navbar-text {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}




/* ────────────────────────────────────────────────────────
 🎨 BOTÓN CAMBIO DE TEMA
─────────────────────────────────────────────────────────*/
.button-theme-toggle {
    -fx-pref-height: 40px;
    -fx-text-fill: #fff;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 10;
    -fx-font-family: "Segoe UI";
}

.button-theme-toggle:hover {
    -fx-background-color: linear-gradient(to bottom right, #3a3a3a, #2a2a2a);
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.2), 4, 0.2, 0, 1);
}

.button-theme-toggle:pressed {
    -fx-background-color: #121212;
    -fx-text-fill: #cccccc;
    -fx-effect: none;
}
/* ────────────────────────────────────────────────────────
 📋 BOTÓN LOGOUT
─────────────────────────────────────────────────────────*/
.button-logout {
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 10;
    -fx-padding: 2 10 2 10;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
    -fx-background-color: #2D2F33;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}
/* ────────────────────────────────────────────────────────
 📁 MENU SLIDER
─────────────────────────────────────────────────────────*/
.menu-main-pane {
    -fx-background-color: #000000;
}

/* ────────────────────────────────────────────────────────
 📌 BOTONES DEL MENU
─────────────────────────────────────────────────────────*/
.button-menu-template {
    -fx-pref-height: 48px;
    -fx-max-width: Infinity;
    -fx-background-color: #111;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 10;
    -fx-padding: 0 14 0 14;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em;
    -fx-font-weight: 500;
    -fx-text-fill: #ececec;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.04), 2, 0.0, 0, 1);
}

.button-menu-template:hover {
    -fx-background-color: #252525;
}


.button-menu-template:selected {
    -fx-background-color: #272727;
    -fx-text-fill: #0086E6;
    -fx-font-weight: bold;
    -fx-border-color: #0086E6;
    -fx-border-width: 0 0 0 3px;
}

.button-menu-template:selected .font-icon {
    -fx-icon-color: #0086E6;
}
/*───────────────────────────────
 🧾 ICONOS
──────────────────────────────── */

.icon-theme-button{
    -fx-icon-code:fas-sun;
    -fx-icon-color:white;
    -fx-icon-size: 32px;
}


.icon-ventas-button {
    -fx-icon-code: anto-shopping;
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}

.icon-inventario-button {
    -fx-icon-code: anto-inbox;
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}

.icon-empleados-button {
    -fx-icon-code: anto-team;
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}

.icon-pedidos-button {
    -fx-icon-code: anto-shopping-cart;
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}

.icon-finanzas-button {
    -fx-icon-code: anto-bar-chart;
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}
